@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  @apply container mx-auto md:px-8 lg:px-16 px-4;
}

.btn {
  @apply py-2 px-4 text-white bg-primary rounded-lg;
}
.flexibleBtn {
  @apply bg-transparent font-medium py-2 px-4 rounded-lg transition-all duration-300 ease-in-out  border border-primary text-primary  hover:text-white hover:bg-primary;
}


